/* Appel variable */
:root {
    --color-body: #074f8a;
    --background-body: #a7a7a7;
    --color-contour: #26569e;
    --color-passagesouris: #0092e7;
    --texte-clair: #c6d5e3;
    --background-services: #cfcfcf;
}

/* Base */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--color-body);
    margin: 0;
    background: var(--background-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: var(--color-body);
    line-height: 1;
}

h1,
.h1 {
    font-size: 3.1rem;
}

h2,
.h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

h3,
.h3 {
    font-size: 2.1rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding-left: 2rem;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.category {
    margin: 0 0 0.75rem 0;
    font-size: 1.125rem;
    text-transform: uppercase;
    color: var(--color-contour);
    min-height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.container {
    padding: 1rem 2rem;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid__item {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    padding: 1rem;
}

@media screen and (min-width: 750px) {

    /*PC*/
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }

    .grid__item {
        max-width: 50%;
    }
}

/* Sections */

section {
    padding: 5.5rem 0;
}

.section-title {
    margin-top: 0;
    font-size: 3.8rem;
}

.section-header {
    text-align: center;
}

@media screen and (min-width: 750px) {

    /*PC*/
    .section-title {
        font-size: 4.8rem;
    }
}

/*  En-tête */

.header {
    background: var(--background-services);
    border-bottom: 2px solid #292d35;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header .container {
    padding-bottom: 1.5rem;
}

.header .logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
    transform: translateY(-3px);
    padding-top: 0.75rem;
}

.header li {
    display: inline-flex;
    align-items: center;
    margin: 0 .5rem;
}

.navbar a {
    color: var(--color-body);
}

.navbar a:hover {
    color: var(--color-passagesouris);
}

.header .right {
    display: flex;
    align-items: center;
}

.social li {
    margin-top: 0.5rem;
}

.social a {
    color: var(--color-body);
    border: 1.5px solid var(--color-body);
    border-radius: 15%;
    height: 4.2rem;
    width: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
}

.social a:hover {
    background: var(--color-body);
    color: var(--texte-clair);
}

.logo-social {
    height: 4.1rem;
    width: 4.1rem;
}

.burger {
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-left: 0.5rem;
}

.burger .bar {
    display: block;
    width: 35px;
    height: 4px;
    background-color: var(--color-body);
    transform: translateX(-6px);
}

.burger .bar::before,
.burger .bar::after {
    display: block;
    content: "";
    width: 35px;
    height: 4px;
    background: var(--color-body);
    position: absolute;
}

.burger .bar::before {
    transform: translateY(-12px);
}

.burger .bar::after {
    transform: translateY(12px);
}

@media screen and (max-width:749px) {
    nav {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position: fixed;
    top:80px;
    left:110%;
    width: 0;
    overflow: hidden;
    opacity: 0;
    height: calc(100vh - 80px);
    background: var(--texte-clair);  
    transition: all .4s ease-out;  
    }
    nav .menu li {
    display: flex;
    justify-content: center;
    }
    nav .menu a {
    display: block;
    font-size: 2rem;
    padding:2rem;
    transition: all .4s;
    }
    .show-nav nav {
    opacity: 1;
    width: 100%;
    left:0;
    z-index: 2;
    }
    .show-nav nav li a:hover {
    transform: scale(1.2);
    text-decoration: none;
    }
    .show-nav .burger .bar {
    width:0;
    }
    .burger .bar::before,
    .burger .bar::after  {
    transition: all .2s ease-out;
    }
    .show-nav .burger .bar::before {
    transform:rotate(-45deg);
    }
    .show-nav .burger .bar::after {
    transform:rotate(45deg);
    }
}

@media screen and (min-width: 750px) {

    /*PC*/
    .navbar {
        display: flex;
    }

    .burger {
        display: none;
    }
}

/*  Heros */

.hero {
    background: var(--color-contour);
    color: var(--texte-clair);
    padding: 0.25rem 0 0 0;
}

.hero .title {
    color: inherit;
    font-size: 4rem;
    margin: 1.6rem 0 0 0;
    font-weight: 700;
}

.hero__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__item span {
    text-transform: uppercase;
}

.hero__item.left {
    animation-duration: 3s;
    animation-name: slideInleft;
}

.metier {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.hero__item.right {
    animation-duration: 3s;
    animation-name: slideInright;
}

@media screen and (max-width: 749px) {

    /* Mobile*/
    .hero__item.left {
        order: 2;
    }

    .hero__item.right {
        order: 1;
    }
}

@media screen and (min-width: 750px) {

    /*PC*/
    .hero__item {
        flex: 1 0 50%;
        text-align: left;
    }

    .hero__item.left {
        align-items: flex-start;
    }

    .hero .title {
        font-size: 4.25rem;
    }

    .hero__avatar img {
        max-width: 400px;
        border-radius: 50%;
    }
}

/*  À propos */

.about .section-tittle {
    margin-top: 2.8rem;
}
#photo-moi {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img {
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
}


/*  Services */

.services {
    background: var(--background-services);
}

.services__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 3px solid var(--color-contour);
    border-radius: 50%;
}

.services__icon svg {
    height: 50px;
}

.services__content {
    flex: 1;
}

.services h3 {
    margin-bottom: 0;
}

@media screen and (max-width: 749px) {

    /* Mobile*/
    .services {
        text-align: center;
    }

    .services__icon {
        margin: 0 auto;
    }
}

@media screen and (min-width: 750px) {

    /*PC*/
    .services {
        display: flex;
        align-items: center;
    }

    .services__icon {
        margin-right: 2rem;
    }
}

/*  Compétences */

.skills h4,
.skills p {
    margin: 0 0 0.3rem 0;
}

.skills li {
    background-color: var(--background-services);
    --color-contour: #e6af19;
    border-left: 4px solid #003079;
    padding: .9rem 2rem;
}

.skills .progressbar {
    background: var(--background-services);
    color: var(--texte-clair);
    margin-bottom: 1rem;
}

.skills .bar {
    background: var(--color-contour);
    padding: 1rem;
}

/*  Portfolio */

.portfolio {
    background: var(--background-services);
}

.portfolio .grid__item {
    max-width: 50%;
    margin-bottom: 0;
}

.portfolio .grid__item.hide {
    display: none;
}

.portfolio-filters .grid__item {
    max-width: 50%;
    margin-bottom: 0;
}

.portfolio-filters a {
    color: var(--color-body);
    background: var(--background-body);
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
}

.portfolio-filters a.active {
    /* En javascript*/
    color: var(--texte-clair);
    background: var(--color-contour);
}

@media screen and (max-width: 749px) {

    /* Mobile*/
    .portfolio a {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 750px) {

    /*PC*/
    .portfolio .grid__item {
        max-width: 33.3333%;
    }

    .portfolio-filters .grid__item {
        max-width: 25%;
    }
}

/* .modal{
    display: none;
}

.modal.show{
    display: block;
} */

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 4;
    transform: scale(0);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
}

.show.modal {
    transform: scale(1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
}

.modal__content {
    background-color: #fefefe;
    height: 100vh;
    padding: 5rem 1rem;
    overflow: auto;
    text-align: left;
}

.modal img {
    margin-bottom: 2rem;
}

.modal__title {
    margin: 0 0 2rem;
}

.modal__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: 1px solid #eee;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 3.1rem;
    color: #666;
    cursor: pointer;
}

.modal .grid__item {
    max-width: 100%;
    margin-bottom: 0;
    opacity: 1;
    transition: all 1s ease;
}


.card {
    background: var(--background-body);
    text-transform: uppercase;
    position: relative;
    box-shadow: 0 0 10px rgba(1, 16, 29, 0.40);
    border: 1px solid var(--background-services);
    overflow: hidden;
}

.card img {
    height: 240px;
    width: 100%;
    object-fit: contain;
}

.card__inner {
    padding: 2rem;
}

.card__title {
    margin: 1rem 0 0;
    font-size: 1.6rem;
    min-height: 3.2rem;
    padding: 0 0.5rem;
}

.card__title,
.category {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__overlay {
    background: rgba(4, 52, 80, 0.8);
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 110%;
    transition: all .4s;
}

.card__overlay a {
    font-size: 4.5rem;
    color: var(--background-body);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card:hover .card__overlay {
    top: 0;
}

/*  Contacts */

.section-header {
    margin-bottom: 5rem;
}

.form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form label {
    width: 100%;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
}


.form textarea {
    min-height: 200px;
}

.form .btn {
    border: 1.5px solid var(--color-contour);
    border-radius: 15%;
    background: var(--color-body);
    color: var(--background-services);
    width: auto;
    font-size: 2rem;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    padding: 1rem 3rem;
}

.form .btn:hover {
    cursor: pointer;
    background: var(--color-passagesouris);
    color: #292d35;
    transition: all 0.6s;
}

@media screen and (min-width: 750px) {

    /*PC*/
    .form {
        margin: auto;
    }
}

/* Footer Pied de page */

footer {
    background: var(--color-contour);
    color: var(--texte-clair);
    text-align: center;
    font-size: 1.4rem;
}

footer p {
    margin: 0;
}

footer .grid {
    align-items: center;
}

footer .socials {
    justify-content: center;
    text-align: center;
}

footer .socials li {
    padding: 0 .7rem;
}

.socials {
    display: flex;
}

.socials li {
    margin-bottom: 0;
    
}

.socials a {
    padding: 0 2px;
}

.socials .icon {
    height: 18px;
}

footer .socials a {
    color: var(--texte-clair);
    border: 1px solid var(--color-body);
    border-radius: 50%;
    padding: 1rem;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    transition: all 0.8s;
}

footer .socials a:hover {
    background: var(--texte-clair);
    color: var(--color-body);
}

@media screen and (min-width: 750px) {

    /*PC*/
    footer {
        text-align: left;
    }

    footer .grid__item {
        max-width: 33.333%;
    }
}

@keyframes slideInleft {
    from {
        transform: translateX(-110%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInright {
    from {
        transform: translateX(110%);
    }

    to {
        transform: translateX(0);
    }
}

